<header id="top-header">
  <span class="siteName">
    <a id="marca" href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <a id="cuenta" title="Click to log in" href="/account/login">MY ACCOUNT</a>
  </div>
</header>