<nav id="navegacion">
    <ul id="lista-opciones">
        <li class="opcion"><a href="#">Home</a></li>
        <li class="opcion"><a href="#">Custom</a></li>
        <li class="opcion"><a href="#">Sedan</a></li>
        <li class="opcion"><a href="#">SUV</a></li>
        <li class="opcion"><a href="#">Truck</a></li>
    </ul>
</nav>