<h1>Inventory Management</h1>

 <%- include('../partials/flash-messages') %>

<div class="card mt-4">
    <div class="card-body">
        <h2 class="h4 card-title">Management Actions</h2>
        <div class="d-grid gap-3">
            <a href="/inv/add-classification" class="btn btn-primary btn-lg">
                Add New Classification
            </a>
            <a href="/inv/add-inventory" class="btn btn-primary btn-lg">
                Add New vehicle
            </a>
        </div>
    </div>
</div>