<%# Assignment 3, Basic Error Handling activity %>

<% if (title){ %>
<h1><%= title %></h1>
<% if (status) { %><p>(Error code: <%= status %>)</p><% } %>
<%} else {
    res.redirect('/')
} %>

<%- message %>